/* Reset
---------------------------------------------------------------------------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    border: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* /Reset
---------------------------------------------------------------------------------- */

/* Grid
---------------------------------------------------------------------------------- */

/* xs — от 320 (смартфоны) */

@media (min-width: 320px) {}

/* sm — от 576 (большие смартфоны и планшеты в вертикальной ориентации) */

@media (min-width: 576px) {}

/* md — от 768 (планшеты в горизонтальной) */

@media (min-width: 768px) {}

/* lg — от 991 (десктопы) */

@media (min-width: 991px) {}

/* xl — от 1420 и выше (большие десктопы) */

@media (min-width: 1200px) {}

/* /Grid
---------------------------------------------------------------------------------- */

/* Total
---------------------------------------------------------------------------------- */

body {
    min-width: 320px;
    color: #1D1D1D;
    line-height: 1.25;
    font-family: 'Roboto', sans-serif;
}

button {
    padding: 8px 16px;
    height: 40px;
    border-radius: 2px;
    font-weight: 500;
    font-size: 13px;
    cursor: pointer;
}

/* /Total
---------------------------------------------------------------------------------- */

/* Layout
---------------------------------------------------------------------------------- */

.header {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

.search {
    margin-top: 40px;
}

.delivery-xs {
    margin-top: 24px;
}

.menu {
    margin-top: 40px;
}

.footer {
    margin-top: 48px;
    background-color: #262626;
}

/* /Layout
---------------------------------------------------------------------------------- */

/* Sections
---------------------------------------------------------------------------------- */

.navbar {
    height: 72px;
}

.navigation {
    display: flex;

    align-items: center;
}

.menu-items {
    margin-top: 16px;
    margin-left: -8px;
    margin-right: -8px;
}

.footer-logo {
    padding: 56px 0 40px 0;
    border-bottom: 1px solid #333333;
}

.footer-links {
    margin-top: 32px;
    border-bottom: 1px solid #333333;
    padding-bottom: 40px;
}

.marketplaces {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #333333;
    padding-bottom: 40px;
}

.footer-copyright {
    padding: 40px 0;
    color: #3B3B3B;
    font-size: 11px;
}


/* /Sections
---------------------------------------------------------------------------------- */

/* Blocks
---------------------------------------------------------------------------------- */

.delivery-md {}

@media (max-width: 768px) {

    .delivery-md {
        display: none;
    }
}

.delivery-xs {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 769px) {

    .delivery-xs {
        display: none;
    }
}

.delivery-xs-when {
    margin-right: 16px;
}

.delivery-xs-to {
    width: 100%;
}

.card {
    margin-bottom: 16px;
    background-color: #FFFFFF;
}

.card:hover {
    background-color: #F9F9F9;
}

.card-active {
    background-color: #F9F9F9;
}

.card-img {
    width: 100%;
}


.marketplace-item {
    display: inline-block;
    height: 40px;
    width: 136px;
    margin-top: 40px;
}

.marketplace-appstore {
    background-image: url(/img/app-store@2x.png);
    background-size: 136px 40px;
    margin-right: 40px;
}

.marketplace-googleplay {
    background-image: url(/img/google-play@2x.png);
    background-size: 136px 40px;
}

/* /Blocks
---------------------------------------------------------------------------------- */

/* Elements
---------------------------------------------------------------------------------- */

.basket {
    display: inline-block;
    margin-left: 24px;
    width: 18px;
    height: 22px;
    background-image: url(/img/basket.svg);
    background-size: 18px 22px;
    background-repeat: no-repeat;
}

.basket:hover {
    background-image: url(/img/basket-hover.svg);
}

.basket:hover {
    background-image: url(/img/basket-active.svg);
}

@media (max-width: 576px) {

    .basket {
        display: none;
    }
}

/* ---------------   DELIVERY INPUTS   --------------- */

.delivery-input {
    padding-left: 32px;
    width: 256px;
    height: 40px;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    font-size: 13px;
    background-image: url(/img/location.svg);
    background-position: left;
    background-position: 8px;
    background-repeat: no-repeat;
    transition: border 0.5s;
}

.delivery-input:hover {
    border: 1px solid #3b3b3b;
}

.delivery-input:focus {
    border: 1px solid #59BD5A;
    outline: none;
}

.delivery-xs-input {
    width: 100%;
}

/* ---------------   /DELIVERY INPUTS   --------------- */

.search {
    width: 100%;
}

.search-input {
    width: 100%;
    padding: 16px 0 16px 40px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #A8A8A9;
    background-image: url(/img/search.svg);
    background-position: left center;
    background-position: 8px;
    background-repeat: no-repeat;
}

.select-lang {
    height: 40px;
    background-color: #3B3B3B;
    width: 176px;
    border-radius: 2px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.lang-icon {
    background-image: url(/img/world.svg);
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    margin-right: 8px;
}

.select-lang p {
    margin-right: 56px;
}

.select-icon {
    background-image: url(/img/select.svg);
    width: 16px;
    height: 8px;
    background-repeat: no-repeat;
    margin-right: 8px;
}

.delivery-md__txt {
    color: #626262;
    font-size: 13px;
    padding: 0 8px;
}

.delivery-xs__txt {
    display: block;
    color: #626262;
    font-size: 11px;
    margin-bottom: 8px;
}

.hashtag {
    margin-top: 32px;
    margin-bottom: 24px;
    font-size: 16px;
    color: #ffffff;
}

.hashtag-green {
    color: #49A144;
}

.social li {
    float: left;
    margin-right: 24px;
}

.facebook {
    display: inline-block;
    background-image: url(/img/soc/facebook.svg);
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
}

.twitter {
    display: inline-block;
    background-image: url(/img/soc/twitter.svg);
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
}

.instagram {
    display: inline-block;
    background-image: url(/img/soc/instagram.svg);
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
}

.footer a {
    font-size: 13px;
    font-weight: 100;
    color: #FFFFFF;
}

.footer-links a:hover {
    color: #59BD5A;
}

.menu-links li {
    margin-bottom: 24px;
}

.maket-item {
    background-color: aliceblue;
    height: 40px;
    width: 135px;
}

/* /Elements
---------------------------------------------------------------------------------- */

/* Modifiers-element
---------------------------------------------------------------------------------- */

/* ---------------   LOGOS   --------------- */

/* Dark Logo   --------------- */

.logo-dark {
    display: inline-block;
    background-image: url(/img/logo-dark.svg);
    background-repeat: no-repeat;
}

.logo-dark-s_xs {
    width: 104px;
    height: 12px;
    background-size: 104px 12px;
}

@media (min-width: 991px) {

    .logo-dark-s_lg {
        width: 128px;
        height: 16px;
        background-size: 128px 16px;
    }

}

/* White Logo   --------------- */

.logo-white {
    display: inline-block;
    background-image: url(/img/logo-white.svg);
    background-repeat: no-repeat;
    width: 192px;
    height: 24px;
    background-size: 192px 24px;
}

/* ---------------   /LOGOS   --------------- */

/* ---------------   BTNS   --------------- */

/* White Btn   --------------- */

.btn-white {
    border: 1px solid #E0E0E0;
    background-color: #FFFFFF;
    color: #1D1D1D;
}

.btn-white:hover {
    border: 1px solid transparent;
    background-color: #59BD5A;
    color: #FFFFFF;
}

.btn-white:active {
    background-color: #4ea54f;
}

/* Black Btn   --------------- */

.btn-black {
    margin-left: 16px;
    border: 1px solid transparent;
    background-color: #262626;
    color: #FFFFFF;
}

.btn-black:hover {
    background-color: #383838;
}

.btn-black:active {
    background-color: #000000;
}

/* ---------------   /BTNS   --------------- */

.card-p {
    padding: 0 8px;
}

.menu h1 {
    font-size: 22px;
    line-height: 34px;
    font-weight: 400;
}

.menu h2 {
    color: #1D1D1D;
    font-size: 16px;
    font-weight: normal;
    margin-top: 16px;
}

.menu-categoty {
    font-size: 14px;
    color: #626262;
    padding: 12px 0;
}

.menu-time {
    font-size: 13px;
    color: #1D1D1D;
    padding-bottom: 24px;
}



/* /Modifiers-element
---------------------------------------------------------------------------------- */
