/* Reset
---------------------------------------------------------------------------------- */

* {
    padding: 0;
    margin: 0;
}

/* /Reset
---------------------------------------------------------------------------------- */

/* Grid
---------------------------------------------------------------------------------- */

/* XS — это экраны до 576 пикселей (смартфоны) */

@media (min-width: 320px) {}

/* SM — от 576 до 768 (большие смартфоны и планшеты в вертикальной ориентации) */

@media (min-width: 576px) {}

/* MD — от 768 до 991 (планшеты в горизонтальной) */

@media (min-width: 768px) {}

/* LG — от 991 до 1200 (десктопы) */

@media (min-width: 991px) {}

/* xl — от 1420 и выше (большие десктопы) */

@media (min-width: 1200px) {}

/* /Grid
---------------------------------------------------------------------------------- */

/* Total
---------------------------------------------------------------------------------- */

.block-1 {
    background-color: antiquewhite;
    height: 100px;
}

.block-2 {
    background-color: beige;
    height: 100px;
}



/* /Total
---------------------------------------------------------------------------------- */

/* Layout
---------------------------------------------------------------------------------- */

/* /Layout
---------------------------------------------------------------------------------- */

/* Blocks
---------------------------------------------------------------------------------- */

/* /Blocks
---------------------------------------------------------------------------------- */

/* Elements
---------------------------------------------------------------------------------- */

/* /Elements
---------------------------------------------------------------------------------- */

/* Modifiers
---------------------------------------------------------------------------------- */

/* /Modifiers
---------------------------------------------------------------------------------- */
